@import "tailwindcss";

@keyframes pulse {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 0.4; }
}

.animate-pulse {
  animation: pulse 6s ease-in-out infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}